<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} title {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="container" style="background-color: #FFFFFF;">
    <!-- Navbar content -->
    {% if user.is_authenticated %}
    <h3><p class="text-primery" align="center">User</p></h3>
    <a href="" class="nav-link smoothScroll" class="text-primary" align="center">{{ user.get_username }}</a>
    <a href="{% url 'logout'%}?next={{request.path}}" class="nav-link smoothScroll" align="center">Log-Out</a>
    {% else %}
    <a href="{% url 'login'%}?next={{request.path}}" class="nav-link smoothScroll" align="center">Log-In</a>
    {% endif %}
</nav>

<div django-app="TaskManager">
    <div class="container">
        <div class="content">
            <h1>TodoApp</h1>
            <p class="tagline">By Dishen</p>
            {% block content %} {% endblock %}
        </div><!-- content -->
    </div><!-- container -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>