<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Done</title>
</head>
<body>
{% block content %}
<div style="margin-left: 100px; margin-top:100px">

    <h4>We’ve emailed you instructions for setting your password, if an account exists with the email you
        entered. You should receive them shortly.</h4>
    <br><h4>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
    check your spam folder.</h4>
    <br><h4>Now you <b><a href="{% url 'login'%}?next={{request.path}}">Login</a></b> here : </h4>
</div>
{% endblock %}
</body>
</html>