{% block content %}

    Password Reset Email For TodoList

    To initiate the password reset process for you : {{ user.get_username }}. Someone asked for password reset for this email : {{ email }}.

    Follow the link below:
    {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

    Sincerely,
    The TodoList Team

    Do not Share this Email with other. Thank you for kind request. Do not Email to this Account, For any Query please contact to this Github repo : https://github.com/DishenMakwana/TodoApp

{% endblock %}